<div class="form-for-everything">
  <%= form_with(model: student) do |form| %>
    <div class="form-for-input">
      <%= form.label :name, style: "display: block", class: "form-my-label" %>
      <%= form.text_field :name, class: "form-my-control" %>
    </div>

    <div class="form-for-input">
      <%= form.label :price, style: "display: block", class: "form-my-label" %>
      <%= form.text_field :price, class: "form-my-control" %>
    </div>

    <div class="form-submit-all">
      <%= form.submit class: "button-primary" %>
    </div>
  <% end %>
</div>
