<% flash.each do |type, message| %>
  <div class="alert <%= "alert-#{type}" %>"><%= message %></div>
<% end %>
<div class="show-student-info">
  <%= render @student %>
</div>
<div class="total-prices">
  <div class="paid-price">
    <strong> Paid lessons: </strong>
    <span class="total-price" title="Amount for all past paid lessons"><%= @total_price %> UAH</span>
  </div>
  <%= link_to "New lesson", new_lesson_path, class: "button-new-lesson" %>
  <div class="not-paid-price" title="Amount for all past unpaid lessons">
    <strong> Not paid lessons: </strong>
    <span class="total-not-price"><%= @not_paid_total_price %> UAH</span>
  </div>
</div>
<div class="lesson-table">
  <ul class="table-ul">
    <li class="table-li-status" title="The status of the lesson that was completed. If there is no icon, then the lesson has not been completed yet.">Status</li>
    <li class="table-li-date">Date</li>
    <li class="table-li-time">Time</li>
    <li class="table-li-student">Student</li>
    <li class="table-li-lesson-status">Lesson status</li>
    <li class="table-li-options">Options</li>
  </ul>
  <% @lessons.each do |lesson| %>
    <% if lesson.paid %>
      <div class="paid">
        <%= render partial: 'lessons/lesson', locals: { lesson: lesson } %>
      </div>
      <% else %>
      <div class="not-paid">
        <%= render partial: 'lessons/lesson', locals: { lesson: lesson } %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @lessons %>
</div>

