<div class="form_new_lesson">
  <%= form_with(model: user) do |form| %>
    <div class="form_lesson_date">
      <%= form.label :name, style: "display: block", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <!-- <div class="form_user_price">
      <%= form.label :price, style: "display: block", class: "form-label" %>
      <%= form.text_field :price, class: "form-control" %>
    </div> -->

    <div class="form_create_lesson">
      <%= form.submit class: "button_primary" %>
    </div>
  <% end %>
</div>