<div class="devise-container">
  <div class="forgot-container">
    <h2 class="hero-title-log-in">Forgot your password?</h2>
    <div class="form-for-everything">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-for-input">
          <%= f.label :email, class: "form-my-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-my-control" %>
        </div>

        <div class="form-submit-all">
          <%= f.submit "Send me reset password instructions", class: "button-primary" %>
        </div>
      <% end %>
    </div>
      <div class="devise-footer">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>