<div class="form-for-everything">
  <%= form_with(model: lesson) do |form| %>
  <div class="form-for-input">
    <%= form.label :lesson_date, style: "display: block", class: "form-my-label" %>
    <%= form.datetime_field :lesson_date, class: "form-my-control" %>
  </div>

  <div class="form-lesson-student">
    <%= form.label :student_id, style: "display: block", class: "form-my-label" %>
    <%= form.collection_select :student_id, Student.where(user_id: current_user.id).order(:name), :id, :name, { prompt: "All students"}, { class: "form-my-control" } %>
  </div>

  <div class="form-for-input">
    <%= form.label :homework, style: "display: block", class: "form-my-label" %>
    <%= form.text_area :homework, class: "form-my-control", placeholder: "This field is not required" %>
  </div>
  <div class="form-container">
    <div class="form-for-input">
      <%= form.label :image, "Upload image", style: "display: block", class: "form-my-label" %>
      <%= form.file_field :image, class: "form-my-control" %>
    </div>
  </div>

  <div class="form-submit-all">
    <%= form.submit class: "button-primary" %>
  </div>
</div>
<% end %>
