<div class="form_new_lesson">
  <%= form_with(model: lesson) do |form| %>
  <div class="form_lesson_date">
    <%= form.label :lesson_date, style: "display: block",class: "form-label" %>
    <%= form.datetime_field :lesson_date, class: "form-control" %>
  </div>

  <div class="form_lesson_user">
    <%= form.label :user_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select :user_id, User.all, :id, :name, { include_blank: true, prompt: "All students"}, { class: "form-control" } %>
  </div>

  <div class="form_lesson_date">
    <%= form.label :homework, style: "display: block",class: "form-label" %>
    <%= form.text_area :homework, class: "form-control", placeholder: "This field is not required" %>
  </div>

  <div class="form_create_lesson">
    <%= form.submit class: "button_primary" %>
  </div>
</div>
<% end %>
