<div class="form-for-everything">
  <%= form_with(model: lesson) do |form| %>
  <div class="form-for-input">
    <%= form.label :lesson_date, style: "display: block", class: "form-my-label" %>
    <%= form.datetime_field :lesson_date, class: "form-my-control" %>
  </div>
   <div class="swiss">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" style="
    margin-right: 20px;"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="#c93927"></rect><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path><path fill="#fff" d="M14 10H18V22H14z"></path><path transform="rotate(90 16 16)" fill="#fff" d="M14 10H18V22H14z"></path></svg>
   </div>

  <div class="form-lesson-student">
    <%= form.label :student_id, style: "display: block", class: "form-my-label" %>
    <%= form.collection_select :student_id, Student.where(user_id: current_user.id).order(:name), :id, :name, { prompt: "All students"}, { class: "form-my-control" } %>
  </div>

  <div class="form-for-input">
    <%= form.label :homework, style: "display: block", class: "form-my-label" %>
    <%= form.text_area :homework, class: "form-my-control", placeholder: "This field is not required" %>
  </div>

  <div class="form-submit-all">
    <%= form.submit class: "button-primary" %>
  </div>
</div>
<% end %>
