<div class="total-prices">
  <div class="header-price">
    <strong> Paid lessons: </strong>
    <span class="total-paid" title="Amount for all past paid lessons"><%= @total_price %> UAH</span>
  </div>
  <%= link_to "New lesson", new_lesson_path, class: "button-new-lesson" %>
  <div class="header-price" title="Amount for all past unpaid lessons">
    <strong> Not paid lessons: </strong>
    <span class="total-not-paid"><%= @not_paid_total_price %> UAH</span>
  </div>
</div>

<form class="filter-form">
  <%= form_with(url: lessons_path, method: :get) do |form| %>
  
      <%= form.label :start_date, "Start date", class: "form-my-label" %>
      <%= form.date_field :start_date, class: "form-my-control" %>
   
      <%= form.label :end_date, "End date", class: "form-my-label" %>
      <%= form.date_field :end_date, class: "form-my-control" %>

      <%= form.label :student_id, "Student", class: "form-my-label" %>
      <%= form.collection_select :student_id, Student.where(user_id: current_user.id).order(:name), :id, :name, { prompt: "All students"}, { class: "form-my-control" } %>

      <%= form.label :paid, "Payment state", class: "form-my-label" %>
      <%= form.collection_select :paid, [[true, 'Paid'], [false, 'Not Paid']], :first, :last, { prompt: "All lessons" }, { class: "form-my-control" } %>

    
      <%= form.submit "Filter lessons", class: "button-primary" %>
  
<% end %>
</form>

<div class="table-header">
  <ul class="table-ul">
    <li class="table-li-status" title="The status of the lesson that was completed. If there is no icon, then the lesson has not been completed yet.">Status</li>
    <li class="table-li-date">Date</li>
    <li class="table-li-time">Time</li>
    <li class="table-li-student">Student</li>
    <li class="table-li-lesson-status">Lesson status</li>
    <li class="table-li-options">Options</li>
  </ul>