<div class="container">
  <div class="lesson-info" data-lesson-path="<%= lesson_path(lesson) %>" title="Show this lesson">
    <% if lesson.not_started? && lesson.confirmed? %>
      <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
    <% elsif lesson.not_started? && !lesson.confirmed? %>
      <svg class="icon-cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
  <% end %>
      <ul class="params-ul">
      <li class="params-li-date">
        <%= link_to lessons_by_date_path(date: lesson.lesson_date.strftime('%Y-%m-%d')), class: "button", title: "Show all lessons for #{lesson.lesson_date.strftime('%d/%m')}" do %>
        <%= lesson.lesson_date.strftime('%d/%m/%Y') %> 
        <span class="day-of-week">
          <%= lesson.lesson_date.strftime('%a') %>
        </span>
        <% end %>
      </li>
    
      <li class="params-li-time">
        <span style="color:red"><%= lesson.lesson_date.strftime('%H:%M') %></span>
        <span style="color: yellow;">(<%= (lesson.lesson_date + 1.hour).strftime('%H:%M') %>)</span>
      </li>
    
      <li class="params-li-student">
        <%= link_to "#{lesson.student.name}", student_path(id: lesson.student.id), class: "button", title: "Show all #{lesson.student.name}'s lessons" %>
      </li>
    
      <li class="params-li-lesson-status">
        <%=lesson.confirmed? ? "Confirmed / " : "Not confirmed / "%>
        <%=lesson.paid? ? link_to("Paid", lessons_path(paid: true), class: "button", title: "Show all paid lessons") : link_to("Not paid", lessons_path(paid: false), class: "button", title: "Show all unpaid lessons") %>
      </li>
    </ul>
  </div>
  <%= button_to "Change status", toggle_confirmed_lesson_path(lesson), method: :patch, class: "button-toggle-conf", title: "Click to confirm the lesson or cancel the current confirmation"%>
  <%= button_to "Payment", toggle_paid_lesson_path(lesson), method: :patch, class: "button-paid-conf", title: "Click to confirm payment or cancel it" %>
</div>
  


