<% flash.each do |type, message| %>
  <div class="alert <%= "alert-#{type}" %>"><%= message %></div>
<% end %>
<h1 class="hero_title">List of lessons</h1>
  <%= render partial: 'lessons/header_lesson' %>
    <% if current_user.role == "admin" %>
      <p class="user_table">This information can only be viewed by teachers</p>
    <% end %>
    <% @lessons.each do |lesson| %>
        <% if lesson.paid %>
          <div class="paid">
            <%= render lesson %>
          </div>
        <% else %>
          <div class="not_paid">
            <%= render lesson %>
          </div>
        <% end %>
      <% end %>
  <%= paginate @lessons %>