<% flash.each do |type, message| %>
  <div class="alert <%= "alert-#{type}" %>"><%= message %></div>
<% end %>

<% if @lessons.present? %>
  <h2 class="hero_title" >List of lessons by date</h2>
<div class="lesson_table">
  <ul class="table_ul">
      <li class="table_li">Date</li>
      <li class="table_li">Time</li>
      <li class="table_li">Student</li>
      <li class="table_li">Lesson status</li>
      <li class="table_li">Options</li>
  </ul>
  <% @lessons.each do |lesson| %>
    <% if lesson.paid %>
      <div class="paid">
        <%= render lesson %>
      </div>
    <% else %>
      <div class="not_paid">
        <%= render lesson %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="one_lesson_container">
    <% if @lesson.paid %>
    <div class="paid">
      <%= render partial: 'lessons/lesson', locals: { lesson: @lesson } %>
    </div>
  <% else %>
    <div class="not_paid">
      <%= render partial: 'lessons/lesson', locals: { lesson: @lesson } %>
    </div>
  <% end %>
  </div>
  <div class="one_lesson_edit_destroy">
    <%= link_to 'Edit', edit_lesson_path(@lesson), class: "one_lesson_btn_edit", title: "Edit this lesson" %>
    <%= button_to 'Delete', lesson_path(@lesson), method: :delete, class: "one_lesson_btn_destroy", title: "Delete this lesson" %>  
  </div>
<% end %>