<div class="devise-container">
  <h1 class="hero-title notebook">Notebook111</h1>
  <div class="log-in-container">
    <h2 class="hero-title-log-in">Log in</h2>

    <div class="form-for-everything">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-for-input">
        <%= f.label :email, class: "form-my-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-my-control" %>
      </div>

      <div class="form-for-input">
        <%= f.label :password, class: "form-my-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-my-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-checkbox">
          <%= f.check_box :remember_me, class: "form-my-control"%>
          <%= f.label :remember_me, class: "form-my-label", style: "color: rgb(193 191 191)" %>
        </div>
      <% end %>
      
      <div class="form-submit-all">
        <%= f.submit "Log in", class: "button-primary" %>
      </div>
      <% end %>
    </div>

    <div class="devise-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>