<div class="devise_container">
  <h1 class="hero_title notebook">Notebook</h1>
  <div class="log_in_container">
    <h2 class="hero_title">Log in</h2>

    <div class="form_new_lesson">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form_lesson_date">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form_lesson_date">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form_checkbox">
          <%= f.check_box :remember_me, class: "form-control"%>
          <%= f.label :remember_me, class: "form-label", style: "color: rgb(193 191 191)" %>
        </div>
      <% end %>
      
      <div class="form_create_lesson">
        <%= f.submit "Log in", class: "button_primary" %>
      </div>
      <% end %>
    </div>

    <div class="devise_footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>