<!DOCTYPE html>
<html>
  <head>
    <title>Notebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container">
      <button type="button">
        <a href="<%= users_path %>">users</a></button>
      <button type="button">
        <a href="<%= lessons_path %>">lessons</a></button>
    <%= yield %>
    </div>
    <script src="/app/javascript/application.js"></script>
  </body>
</html>