<!DOCTYPE html>
<html>
  <head>
    <title>Notebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
      <header class="header">
        <a class="header_button" href="<%= users_path %>"><h1>Students</h1></a>
        <a class="header_button" href="<%= lessons_path %>"><h1>Lessons</h1></a>
      </header>
      <%= yield %>
    <script src="/app/javascript/application.js"></script>
  </body>
</html>